.d-flex {
    display: flex;
}

.gap-2 {
    gap: "12px";
}

/* Overall container styling */
.todo-container {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Individual to-do item styling */
.TodoItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid teal;
    cursor: pointer;
}

/* Completed to-do item styling */
.todo-item.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

/* Add to-do form styling */
.add-todo-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Input field styling */
input[type="text"] {
    padding: 10px;
    margin-top: 50px;
    margin-left: 540px;
    border-radius: 5px;
    font-size: 16px;

}

/* Add button styling */
button {
    padding: 10px 20px;
    margin-right: 300px;
    margin-top: 50px;
    border: none;
    border-radius: 50px;
    background-color: #38a599;
    color: #fff;
}

/* Styling for the filter checkbox and label */
todo-filter {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
    text-align: center;
}

/* Title styling */
h3 {
    margin: 10px 0;
    text-align: center;
}

li {
    margin: 10px 0;
    text-align: center;
}

label {
    margin: 10px 0;
    text-align: center;
}

p {
    text-align: center;
}

.navbar-nav .nav-item .nav-link:hover {
    color: black;
    background-color: #f0f0f0;
}