.todo {
    box-sizing: border-box;
}

.TodoApp body {
    text-align: center;
    color: black;
    background: #fff;
}

.d-flex {
    display: flex;
}

.gap-2 {
    gap: "12px";
}

/* Input field styling */
input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 420px;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
}

input[type="checkbox"] {
    padding: 2px;
    text-align: center;
    font-size: 16px;
}

input[type="date"] {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
}

/* Add button styling */
.d-flex button {
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    border: none;
    border-radius: 50px;
    background-color: #38a599;
    color: #fff;
}

.pagination-buttons button {
    margin: 200px;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
    background-color: #38a599;
    color: #fff;
}

.add-todo-button button {
    padding: 10px 20px;
    font-size: large;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-radius: 10px;
    background-color: #38a599;
    color: #fff;
}

.pagination-buttons button :hover {
    background-color: #20776d;
}

/* Title styling */
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
}

.todo-list-item {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

label {
    margin: 5px 0;
    margin-left: 20px;
    text-align: center;
}

p {
    text-align: center;
}

.navbar-nav .nav-item .nav-link:hover {
    color: black;
    background-color: #f0f0f0;
}